@import load

.fontello
  font-family: fontello
  &:before
    content: attr(data-icon)

.link
  float: left
  margin-right: 5px
  width: 40px
  height: 40px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%
  font-size: 1.35em
  text-align: center
  color: #FFFFFF
  line-height: 1.85
  -webkit-transition-duration: .5s
  -moz-transition-duration: .5s
  -otransition-duration: .5s
  transition-duration: .5s

.link-in-post
  display: inline-block
  float: none
  margin-left: .2em
  margin-right: .2em
  background-color: #777
  text-transform: none
  line-height: 2
  &:hover
    background-color: #F05051

.footer-mail-icon
  font-size: 1.5em
  line-height: 1.675
