%a.index__issue{href: article.url}
  .wrap
    %h2.index__issue__title= article.title
    - if article.summary
      %p.index__issue__summary= article.summary
    %time.index__issue__date{datetime: article.date.to_s(:short)}= article.date.to_s(:short)
    - if article.comments
      &nbsp;-&nbsp;
      %span
        %a.index__issue__comments{href: "#{article.url}#disqus_thread"}
