%a{href: article.url}
  .index__issue
    .wrap
      %h2.index__issue__title= article.title
      - if article.summary
        %p= article.summary
      .index__issue__meta
        %time{datetime: article.date.to_s(:short)}= article.date.to_s(:short)
        - if article.comments
          %span
            &nbsp;-&nbsp;
            %a.index__issue__comments{href: "#{article.url}#disqus_thread"}
