@import load

.show-all-posts
  margin:
    left: auto
    right: auto
  display: block
  width: 90%
  max-width: 480px
  text-align: center
  @media (max-width: 1100px)
    padding: .75em 0
    +border-radius(10px)
    background-color: #ABD4E7
    font:
      size: 1.5em
      weight: bold
    color: $white

.nothin
  display: none
  font-size: 24px
  text-align: center

.index__issue
  margin:
    right: auto
    left: auto
  padding:
    top: 3em
    bottom: 3em
  border-top: 1px solid #E6E7E8
  background-color: $white
  &:hover, &:active
    background-color: rgba($white, .5)

.index__issue__title
  margin-bottom: .5em
  font:
    size: 2em
    weight: bold
  text-transform: uppercase
  line-height: 1.25

.index__issue__meta
  font-style: italic
  opacity: .5

.index__issue__comments
  &:hover
    text-decoration: underline
